<div class="blog-widget">
								 <%= image_tag  "medium-rectangle.gif" %>	
							</div>
						<div class="blog-widget">
							<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FTechoshdotcom%2F1103655423083384&amp;width=250&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:258px;" allowTransparency="true"></iframe>
						</div>
				  