<h1>Listing tutorials</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
   
  </tr>

<% @tutorials.each do |tutorial| %>
  <tr>
    <td><%= tutorial.title %></td>
    <td><%= tutorial.description.html_safe %></td>
    <td><%= link_to 'Show', lecture_path(tutorial) %></td>
    
  </tr>
<% end %>
</table>

<br />

