 <div id="header">
   <div id="logo-area">
   <div class="container-fluid">
     <div class="row-fluid" >
		<div class="span4" style="margin-right:-20px;">
		 <%= image_tag "logo.png" %>
		</div>
		<div class="span8">
		 <%= image_tag  "leaderboard.jpg" %>
		</div>			
	</div>
	</div>
   </div>
	<div id="navigation">
	   <div id="brand"></div>
		<div class="container-fluid">
			<ul class='main-nav'>
				<li><%= link_to "Home", root_path %></li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Programming Language</span>
						<span class="caret"></span>					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="forms-basic.html">C Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">C++ Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">Java Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">C# Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">PHP Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">Ruby Programming Language</a>						</li>
						<li>
							<a href="forms-basic.html">Python Programming Language</a>						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Frameworks</span>
						<span class="caret"></span>					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="components-timeline.html">Zend Framework</a>						</li>
						<li>
							<a href="components-pagestatistics.html">Codeigniter</a>						</li>
						<li>
							<a href="components-sidebarwidgets.html">Yii Framework</a>						</li>
						<li>
							<a href="components-messages.html">Ruby On Rails</a>						</li>
						<li>
							<a href="components-gallery.html">Django</a>						</li>
						<li>
							<a href="components-icons.html">Bootstrap</a>						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Web Design & Development</span>
						<span class="caret"></span>					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="tables-basic.html">HTML</a>						</li>
						<li>
							<a href="tables-dynamic.html">CSS</a>						</li>
						<li>
							<a href="tables-large.html">Javascript</a>						</li>
						<li>
							<a href="tables-large.html">jQuery</a>						</li>
						<li>
							<a href="tables-large.html">Dreamweaver</a>						</li>
						<li>
							<a href="tables-large.html">Photoshop</a>						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Databases</span>
						<span class="caret"></span>					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="plugins-charts.html">MySql</a>						</li>
						<li>
							<a href="plugins-calendar.html">SQL Server</a>						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>CMS</span>
						<span class="caret"></span>					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="more-error.html">WordPress</a>						</li>
						<li>
							<a href="more-error.html">Drupal</a>						</li>
						<li>
							<a href="more-pricing.html">Magento</a>						</li>
					</ul>
				</li>
				<li>
					<a href="index.html">
						<span>Blogs</span>					</a>				</li>
				<li>
					<%= link_to 'Contact Us', contact_path %>			</li>
			</ul>
			
		</div>
	</div>
	</div>