
		<a href="#dat-menu" class="ot-menu-toggle"><i class="fa fa-bars"></i>Toggle Menu</a>
		<!-- BEGIN .boxed -->
		<div class="boxed active">
			
			<!-- BEGIN .header -->
			<header class="header willfix">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">

					<div class="header-left">
						<div class="header-logo">
							<a href="index.html" class="otanimation" data-anim-object=".header-logo a.otanimation img, .header-logo a.otanimation h1" data-anim-in="flipOutX" data-anim-out="bounceIn"><%= image_tag "logo1.png" %></a>
							<strong data-anim-in="fadeOutUpBig" data-anim-out="bounceIn"><i class="fa fa-home"></i> Homepage</strong>
						</div>
						<div class="header-socials">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-youtube"></i></a>
							<a href="#"><i class="fa fa-vimeo-square"></i></a>
						</div>
					</div>

					<div class="header-right">
						<nav class="main-menu">
							<ul class="load-responsive" rel="Main Menu">
								<li><a href="#"><span>BackEnd <i>Programming</i></span></a>
									<ul class="sub-menu">
										<li><a href="#">Shortcodes</a></li>
										<li><a href="#"><span>Custom Templates</span></a></li>
										<li><a href="#">Full-width page</a></li>
									</ul>
								</li></li>
								<li><a href="#"><span>FrontEnd<i>Programming</i></span></a>
									<ul class="sub-menu">
										<li><a href="#">Shortcodes</a></li>
										<li><a href="#"><span>Custom Templates</span></a></li>
										<li><a href="#">Full-width page</a></li>
									</ul>
								</li>
								<li><a href="#"><span>DataBase<i>Programming</i></span></a>
									<ul class="sub-menu">
										<li><a href="#">Shortcodes</a></li>
										<li><a href="#"><span>Custom Templates</span></a></li>
										<li><a href="#">Full-width page</a></li>
									</ul>
								</li>
										<li><a href="#"><span>FrameWork<i>Programming</i></span></a>
									<ul class="sub-menu">
										<li><a href="#">Shortcodes</a></li>
										<li><a href="#"><span>Custom Templates</span></a></li>
										<li><a href="#">Full-width page</a></li>
									</ul>
								</li>
								<li><a href="#"><span>CMS<i>Programming</i></span></a>
									<ul class="sub-menu">
										<li><a href="#">Shortcodes</a></li>
										<li><a href="#"><span>Custom Templates</span></a></li>
										<li><a href="#">Full-width page</a></li>
									</ul>
								</li>
								<li><a href="contact-us.html">Contact Us<i>Get in touch</i></a></li>
							</ul>
							<div class="search-header">
								<form action="get">
									<input type="search" value="" placeholder="Search.." autocomplete="off" required="required" name="s" />
									<input type="submit" value="search" />
								</form>
							</div>
						</nav>
						<nav class="under-menu">
							<ul class="load-responsive" rel="Sub Menu">
								<li><a href="archive.html">Universities</a></li>
								<li><a href="archive.html">Engineering Branches</a></li>
								<li><a href="error-404.html">Subjects</a></li>
								<li><a href="contact-us.html">Interview Questions & Answers</a></li>
								<li><a href="contact-us.html">Placements Papers</a></li>
								<li><a href="contact-us.html">Blogs</a></li>
							</ul>
						</nav>
					</div>

					<div class="clear-float"></div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- END .header -->
			</header>